.skeleton {
  border-radius: 5px;
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton.newsThumbnail {
  width: 100px;
  height: 66px;
}

.skeleton.videoThumbnail {
  width: 120px;
  height: 68px;
}

.skeleton.imgThumbnail {
  width: 100%;
  height: 100px;
}

.skeleton.text {
  width: 100%;
  height: 10px;
  margin-bottom: 5px;
}

.skeleton.short {
  width: 50%;
}

.skeleton.last {
  margin-bottom: 0;
}
